<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0"><dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string><![CDATA[https://ugc-ios-download-2.firshort.com/feb54ba015cfaca2527e656de21c53bae19c9837?auth_key=1640864351-0-0-cb390da8f8e6570c965da2b29cc8ce3c]]></string>
        </dict>
        <dict>
          <key>kind</key>
          <string>display-image</string>
          <key>needs-shine</key>
          <integer>0</integer>
          <key>url</key>
          <string><![CDATA[https://ali-fir-pro-icon.fir-im.cn/7c4283b17b6ae9a2ff1f6b46434af5ecd6c51198?auth_key=1640864351-0-0-31f76572461505c9f3116c9a2a252fce]]></string>
        </dict>
        <dict>
          <key>kind</key>
          <string>full-size-image</string>
          <key>needs-shine</key>
          <true/>
          <key>url</key>
          <string><![CDATA[https://ali-fir-pro-icon.fir-im.cn/7c4283b17b6ae9a2ff1f6b46434af5ecd6c51198?auth_key=1640864351-0-0-31f76572461505c9f3116c9a2a252fce]]></string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.gqmg.ksk</string>
        <key>bundle-version</key>
        <string><![CDATA[1.0.8]]></string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string><![CDATA[跨时空]]></string>
      </dict>
    </dict>
  </array>
</dict></plist>
